In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/lunch_box.csv", sep = ",")

In [6]:
df.head(10)

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1
5,2013-11-25,135,月,1,鶏の唐揚,NaN,NaN,NaN,NaN,曇,--,14.6
6,2013-11-26,145,火,0,豚のスタミナ炒め,NaN,NaN,NaN,NaN,快晴,--,17.9
7,2013-11-27,140,水,1,ボローニャ風カツ,NaN,NaN,NaN,NaN,晴れ,--,14.7
8,2013-11-28,151,木,0,ハンバーグ,NaN,NaN,NaN,NaN,薄曇,--,17.7
9,2013-11-29,116,金,0,タルタルinソーセージカツ,NaN,NaN,NaN,NaN,快晴,--,12.1

In [4]:
df.columns

Index(['datetime', 'y', 'week', 'soldout', 'name', 'kcal', 'remarks', 'event',
       'payday', 'weather', 'precipitation', 'temperature'],
      dtype='object')

In [5]:
df[["name","kcal"]].head()

         name  kcal
0    厚切りイカフライ   NaN
1     手作りヒレカツ   NaN
2  白身魚唐揚げ野菜あん   NaN
3      若鶏ピリ辛焼   NaN
4    ビッグメンチカツ   NaN

In [7]:
df.loc[100]

datetime         2014-4-22
y                       78
week                     火
soldout                  1
name                 マーボ豆腐
kcal                   382
remarks                NaN
event                  NaN
payday                 NaN
weather                  曇
precipitation           --
temperature           18.8
Name: 100, dtype: object

In [9]:
df[df["kcal"] >= 450]

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
29,2014-1-8,128,水,0,豚肉の生姜焼,462.0,NaN,NaN,NaN,曇,--,9.8
33,2014-1-15,134,水,0,さんま辛味焼,450.0,NaN,NaN,NaN,曇,--,2.9
43,2014-1-29,121,水,1,チーズ入りメンチカツ,450.0,NaN,NaN,NaN,快晴,--,10.3
45,2014-1-31,92,金,1,メダイ照り焼,460.0,NaN,NaN,NaN,快晴,--,14.1
193,2014-9-9,63,火,0,ハンバーグデミソース,460.0,NaN,NaN,NaN,晴れ,--,26.8
194,2014-9-10,54,水,0,ぶりレモンペッパー焼き,450.0,NaN,NaN,1.0,曇,0,25.0

In [10]:
df[["name","kcal"]].query("kcal >=450")

            name   kcal
29        豚肉の生姜焼  462.0
33        さんま辛味焼  450.0
43    チーズ入りメンチカツ  450.0
45        メダイ照り焼  460.0
193   ハンバーグデミソース  460.0
194  ぶりレモンペッパー焼き  450.0

In [13]:
df.set_index("datetime", inplace=True)
df.head(5)

,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,
2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [14]:
df.rename(columns={"y":"sales"}, inplace=True)
df.head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,
2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [15]:
df.sort_values(by="sales", ascending=True).head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,
2014-9-22,29,月,0,筑前煮,395.0,NaN,NaN,NaN,晴れ,--,25.2
2014-8-1,38,金,0,豚肉の生姜焼き,380.0,NaN,NaN,NaN,薄曇,--,32.7
2014-8-29,39,金,0,チキンの辛味噌焼き,398.0,NaN,NaN,NaN,曇,0,25.1
2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1
2014-8-12,40,火,1,厚切ハムカツ,400.0,NaN,NaN,NaN,雨,0,29.4

In [16]:
df.sort_values("sales",ascending=False).head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,
2013-12-5,171,木,0,鶏のカッシュナッツ炒め,NaN,NaN,NaN,NaN,快晴,--,13.8
2013-12-9,165,月,1,ハンバーグデミソース,NaN,NaN,NaN,NaN,曇,--,9.1
2013-12-16,160,月,0,カキフライタルタル,NaN,NaN,NaN,NaN,快晴,--,11.3
2013-12-11,157,水,0,五目御飯,NaN,NaN,NaN,NaN,曇,--,11.0
2013-12-10,155,火,0,やわらかロースのサムジョン,NaN,NaN,NaN,1.0,曇,0.5,7.1

In [17]:
df.index

Index(['2013-11-18', '2013-11-19', '2013-11-20', '2013-11-21', '2013-11-22',
       '2013-11-25', '2013-11-26', '2013-11-27', '2013-11-28', '2013-11-29',
       ...
       '2014-9-16', '2014-9-17', '2014-9-18', '2014-9-19', '2014-9-22',
       '2014-9-24', '2014-9-25', '2014-9-26', '2014-9-29', '2014-9-30'],
      dtype='object', name='datetime', length=207)

In [18]:
df.sales

datetime
2013-11-18     90
2013-11-19    101
2013-11-20    118
2013-11-21    120
2013-11-22    130
2013-11-25    135
2013-11-26    145
2013-11-27    140
2013-11-28    151
2013-11-29    116
2013-12-2     151
2013-12-3     153
2013-12-4     151
2013-12-5     171
2013-12-6     134
2013-12-9     165
2013-12-10    155
2013-12-11    157
2013-12-12    109
2013-12-13    111
2013-12-16    160
2013-12-17    145
2013-12-18    145
2013-12-19    151
2013-12-20    134
2013-12-24    122
2013-12-25    121
2013-12-26     80
2014-1-7      131
2014-1-8      128
             ...
2014-8-18      56
2014-8-19      53
2014-8-20      56
2014-8-21      54
2014-8-22     100
2014-8-25      55
2014-8-26      68
2014-8-27      62
2014-8-28      56
2014-8-29      39
2014-9-1       65
2014-9-2       68
2014-9-3       53
2014-9-4       54
2014-9-5       43
2014-9-8       68
2014-9-9       63
2014-9-10      54
2014-9-11      53
2014-9-12     115
2014-9-16      56
2014-9-17      49
2014-9-18      46
2014-9-19      45
2014-9-22      29
2014-9-24      59
2014-9-25      50
2014-9-26      45
2014-9-29      56
2014-9-30      40
Name: sales, Length: 207, dtype: int64

In [19]:
df.index = pd.to_datetime(df.index, format="%Y-%m-%d")

In [20]:
df.index

DatetimeIndex(['2013-11-18', '2013-11-19', '2013-11-20', '2013-11-21',
               '2013-11-22', '2013-11-25', '2013-11-26', '2013-11-27',
               '2013-11-28', '2013-11-29',
               ...
               '2014-09-16', '2014-09-17', '2014-09-18', '2014-09-19',
               '2014-09-22', '2014-09-24', '2014-09-25', '2014-09-26',
               '2014-09-29', '2014-09-30'],
              dtype='datetime64[ns]', name='datetime', length=207, freq=None)

In [23]:
df.sort_index(ascending=False).head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,
2014-09-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1
2014-09-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6
2014-09-26,45,金,0,ランチビュッフェ,NaN,スペシャルメニュー（800円）,キャリアアップ支援セミナー,NaN,晴れ,--,27.1
2014-09-25,50,木,0,牛カルビ焼き肉,394.0,NaN,NaN,NaN,曇,0,25.4
2014-09-24,59,水,1,白身魚のマスタード焼き,408.0,NaN,NaN,NaN,曇,0,24.8

In [30]:
df[["name"]].sort_index(ascending = False).head()

                    name
datetime
2014-09-30  鶏肉とカシューナッツ炒め
2014-09-29      豚肉と玉子の炒め
2014-09-26      ランチビュッフェ
2014-09-25       牛カルビ焼き肉
2014-09-24   白身魚のマスタード焼き

In [34]:
df.resample("M").mean()

                 sales   soldout        kcal  payday  temperature
datetime
2013-11-30  124.600000  0.500000         NaN     NaN    16.060000
2013-12-31  139.722222  0.444444         NaN     1.0    10.844444
2014-01-31  115.222222  0.611111  427.555556     1.0     8.716667
2014-02-28  107.842105  0.526316  420.947368     1.0     7.815789
2014-03-31   89.350000  0.450000  382.157895     1.0    12.505000
2014-04-30   85.761905  0.476190  360.000000     1.0    18.176190
2014-05-31   74.200000  0.550000  419.111111     1.0    22.505000
2014-06-30   67.285714  0.333333  423.315789     1.0    25.409524
2014-07-31   61.363636  0.454545  397.200000     1.0    29.350000
2014-08-31   61.166667  0.333333  403.187500     1.0    30.227778
2014-09-30   55.550000  0.300000  408.611111     1.0    25.935000

In [37]:
df["month"] = list(pd.Series(df.index).apply(lambda x: x.month))
df["day"] = list(pd.Series(df.index).apply(lambda x: x.day))

In [38]:
df.head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,month,day
datetime,,,,,,,,,,,,,
2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8,11,18
2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0,11,19
2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5,11,20
2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2,11,21
2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1,11,22

In [39]:
labels = ['上旬', '中旬', '下旬']
df['period'] = pd.cut(list(df['day']),  bins=[0,10,20,31], labels=labels, right=True) # 0<day≦10, 10<day≦20, 20<day≦31

df.head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,month,day,period
datetime,,,,,,,,,,,,,,
2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8,11,18,中旬
2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0,11,19,中旬
2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5,11,20,中旬
2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2,11,21,下旬
2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1,11,22,下旬

In [41]:
df.isnull().sum()

sales              0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
month              0
day                0
period             0
dtype: int64

In [46]:
print(df[df.isnull().any(axis=1)].shape)

(207, 14)

In [47]:
df.fillna(value={"payday":0.0}, inplace=True)

In [48]:
df.head()

,sales,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,month,day,period
datetime,,,,,,,,,,,,,,
2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,0.0,快晴,--,19.8,11,18,中旬
2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,0.0,快晴,--,17.0,11,19,中旬
2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,0.0,快晴,--,15.5,11,20,中旬
2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,0.0,快晴,--,15.2,11,21,下旬
2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,0.0,快晴,--,16.1,11,22,下旬

In [49]:
df.isnull().sum()

sales              0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday             0
weather            0
precipitation      0
temperature        0
month              0
day                0
period             0
dtype: int64

In [50]:
df.dropna(subset=["kcal"], axis=0,inplace=True)
print(df.shape)

(166, 14)

In [51]:
df["precipitation"].unique()

array(['--', '0', '0.5', '1.5', '1', '6', '6.5', '2.5'], dtype=object)

In [52]:
df['precipitation'] = df['precipitation'].replace('--', 0).astype(float)