In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv("01_USDJPY_D.csv", encoding="SHIFT-JIS",sep = ",")

In [ ]:
df.head()

   通貨ペア          日付       始値       高値       安値       終値
0     1  2019/07/11  108.396  108.533  107.858  108.491
1     1  2019/07/10  108.814  108.989  108.347  108.466
2     1  2019/07/09  108.683  108.963  108.660  108.856
3     1  2019/07/08  108.410  108.806  108.279  108.729
4     1  2019/07/05  107.783  108.636  107.767  108.491

In [15]:
df.index = pd.to_datetime(df.index,format="%Y/%m/%d")

In [16]:
df.head()

,通貨ペア,日付,始値,高値,安値,終値
1970-01-01 00:00:00.000000000,1,2019/07/11,108.396,108.533,107.858,108.491
1970-01-01 00:00:00.000000001,1,2019/07/10,108.814,108.989,108.347,108.466
1970-01-01 00:00:00.000000002,1,2019/07/09,108.683,108.963,108.660,108.856
1970-01-01 00:00:00.000000003,1,2019/07/08,108.410,108.806,108.279,108.729
1970-01-01 00:00:00.000000004,1,2019/07/05,107.783,108.636,107.767,108.491