In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("01_USDJPY_D.csv", encoding="SHIFT-JIS",sep = ",")

In [3]:
df.head(10)

   通貨ペア          日付       始値       高値       安値       終値
0     1  2019/07/11  108.396  108.533  107.858  108.491
1     1  2019/07/10  108.814  108.989  108.347  108.466
2     1  2019/07/09  108.683  108.963  108.660  108.856
3     1  2019/07/08  108.410  108.806  108.279  108.729
4     1  2019/07/05  107.783  108.636  107.767  108.491
5     1  2019/07/04  107.781  107.842  107.708  107.791
6     1  2019/07/03  107.875  107.910  107.534  107.830
7     1  2019/07/02  108.421  108.474  107.765  107.909
8     1  2019/07/01  108.196  108.533  108.102  108.430
9     1  2019/06/28  107.784  107.906  107.561  107.858

In [4]:
df.set_index("日付",inplace=True)
df.index = pd.to_datetime(df.index,format="%Y/%m/%d")

In [5]:
df.head(10)

            通貨ペア       始値       高値       安値       終値
日付
2019-07-11     1  108.396  108.533  107.858  108.491
2019-07-10     1  108.814  108.989  108.347  108.466
2019-07-09     1  108.683  108.963  108.660  108.856
2019-07-08     1  108.410  108.806  108.279  108.729
2019-07-05     1  107.783  108.636  107.767  108.491
2019-07-04     1  107.781  107.842  107.708  107.791
2019-07-03     1  107.875  107.910  107.534  107.830
2019-07-02     1  108.421  108.474  107.765  107.909
2019-07-01     1  108.196  108.533  108.102  108.430
2019-06-28     1  107.784  107.906  107.561  107.858

In [6]:
df = df.sort_index()

In [7]:
df.head(10)

            通貨ペア       始値       高値       安値       終値
日付
2018-10-04     1  114.441  114.549  113.632  113.939
2018-10-05     1  113.893  114.100  113.558  113.671
2018-10-08     1  113.729  113.943  112.821  113.221
2018-10-09     1  113.183  113.392  112.870  112.950
2018-10-10     1  112.950  113.286  112.292  112.304
2018-10-11     1  112.198  112.534  111.832  112.123
2018-10-12     1  112.143  112.495  111.880  112.179
2018-10-15     1  112.135  112.236  111.625  111.750
2018-10-16     1  111.756  112.336  111.727  112.264
2018-10-17     1  112.241  112.676  112.014  112.669

In [8]:
df_shift = df.copy()

In [9]:
df_shift.終値 = df_shift.終値.shift(-1)

In [10]:
df_shift.tail()

            通貨ペア       始値       高値       安値       終値
日付
2019-07-05     1  107.783  108.636  107.767  108.729
2019-07-08     1  108.410  108.806  108.279  108.856
2019-07-09     1  108.683  108.963  108.660  108.466
2019-07-10     1  108.814  108.989  108.347  108.491
2019-07-11     1  108.396  108.533  107.858      NaN

In [11]:
df_test = df_shift[:7]

In [14]:
df_shift.head(10)

            通貨ペア       始値       高値       安値       終値
日付
2018-10-04     1  114.441  114.549  113.632  113.671
2018-10-05     1  113.893  114.100  113.558  113.221
2018-10-08     1  113.729  113.943  112.821  112.950
2018-10-09     1  113.183  113.392  112.870  112.304
2018-10-10     1  112.950  113.286  112.292  112.123
2018-10-11     1  112.198  112.534  111.832  112.179
2018-10-12     1  112.143  112.495  111.880  111.750
2018-10-15     1  112.135  112.236  111.625  112.264
2018-10-16     1  111.756  112.336  111.727  112.669
2018-10-17     1  112.241  112.676  112.014  112.181

In [18]:
df2 = df_shift[:-1]

In [20]:
df2.tail()

            通貨ペア       始値       高値       安値       終値
日付
2019-07-04     1  107.781  107.842  107.708  108.491
2019-07-05     1  107.783  108.636  107.767  108.729
2019-07-08     1  108.410  108.806  108.279  108.856
2019-07-09     1  108.683  108.963  108.660  108.466
2019-07-10     1  108.814  108.989  108.347  108.491

In [21]:
del df2["通貨ペア"]

In [22]:
df2.head()

                 始値       高値       安値       終値
日付
2018-10-04  114.441  114.549  113.632  113.671
2018-10-05  113.893  114.100  113.558  113.221
2018-10-08  113.729  113.943  112.821  112.950
2018-10-09  113.183  113.392  112.870  112.304
2018-10-10  112.950  113.286  112.292  112.123

In [23]:
del df2["日付"]

KeyError: '日付'

In [24]:
df2.reindex

<bound method DataFrame.reindex of                  始値       高値       安値       終値
日付
2018-10-04  114.441  114.549  113.632  113.671
2018-10-05  113.893  114.100  113.558  113.221
2018-10-08  113.729  113.943  112.821  112.950
2018-10-09  113.183  113.392  112.870  112.304
2018-10-10  112.950  113.286  112.292  112.123
2018-10-11  112.198  112.534  111.832  112.179
2018-10-12  112.143  112.495  111.880  111.750
2018-10-15  112.135  112.236  111.625  112.264
2018-10-16  111.756  112.336  111.727  112.669
2018-10-17  112.241  112.676  112.014  112.181
2018-10-18  112.690  112.728  111.949  112.506
2018-10-19  112.176  112.647  112.143  112.795
2018-10-22  112.519  112.886  112.350  112.421
2018-10-23  112.785  112.840  111.953  112.222
2018-10-24  112.409  112.741  112.089  112.432
2018-10-25  112.161  112.674  111.818  111.881
2018-10-26  112.401  112.443  111.378  112.348
2018-10-29  111.874  112.563  111.775  113.021
2018-10-30  112.338  113.032  112.302  112.959
2018-10-31  113.114  113.384  112.801  112.691
2018-11-01  112.893  113.003  112.605  113.208
2018-11-02  112.650  113.323  112.557  113.191
2018-11-05  113.134  113.339  113.075  113.448
2018-11-06  113.179  113.505  113.100  113.570
2018-11-07  113.390  113.818  112.945  114.000
2018-11-08  113.491  114.084  113.466  113.788
2018-11-09  114.031  114.063  113.639  113.839
2018-11-12  113.806  114.211  113.660  113.812
2018-11-13  113.815  114.146  113.581  113.643
2018-11-14  113.788  114.007  113.299  113.616
...             ...      ...      ...      ...
2019-05-30  109.530  109.927  109.474  108.346
2019-05-31  109.584  109.608  108.337  108.061
2019-06-03  108.290  108.446  107.882  108.135
2019-06-04  108.040  108.358  107.845  108.454
2019-06-05  108.111  108.485  107.812  108.389
2019-06-06  108.414  108.562  108.023  108.176
2019-06-07  108.336  108.616  107.880  108.457
2019-06-10  108.443  108.715  108.313  108.513
2019-06-11  108.414  108.800  108.349  108.506
2019-06-12  108.505  108.563  108.216  108.392
2019-06-13  108.450  108.537  108.163  108.544
2019-06-14  108.350  108.588  108.156  108.526
2019-06-17  108.479  108.723  108.479  108.425
2019-06-18  108.512  108.678  108.059  108.099
2019-06-19  108.417  108.616  107.901  107.314
2019-06-20  108.057  108.142  107.212  107.328
2019-06-21  107.264  107.736  107.049  107.296
2019-06-24  107.263  107.536  107.248  107.159
2019-06-25  107.253  107.409  106.777  107.782
2019-06-26  107.144  107.849  107.088  107.783
2019-06-27  107.749  108.163  107.650  107.858
2019-06-28  107.784  107.906  107.561  108.430
2019-07-01  108.196  108.533  108.102  107.909
2019-07-02  108.421  108.474  107.765  107.830
2019-07-03  107.875  107.910  107.534  107.791
2019-07-04  107.781  107.842  107.708  108.491
2019-07-05  107.783  108.636  107.767  108.729
2019-07-08  108.410  108.806  108.279  108.856
2019-07-09  108.683  108.963  108.660  108.466
2019-07-10  108.814  108.989  108.347  108.491

[199 rows x 4 columns]>

In [25]:
df2.head()

                 始値       高値       安値       終値
日付
2018-10-04  114.441  114.549  113.632  113.671
2018-10-05  113.893  114.100  113.558  113.221
2018-10-08  113.729  113.943  112.821  112.950
2018-10-09  113.183  113.392  112.870  112.304
2018-10-10  112.950  113.286  112.292  112.123

In [30]:
df2.reset_index()

            日付       始値       高値       安値       終値
0   2018-10-04  114.441  114.549  113.632  113.671
1   2018-10-05  113.893  114.100  113.558  113.221
2   2018-10-08  113.729  113.943  112.821  112.950
3   2018-10-09  113.183  113.392  112.870  112.304
4   2018-10-10  112.950  113.286  112.292  112.123
5   2018-10-11  112.198  112.534  111.832  112.179
6   2018-10-12  112.143  112.495  111.880  111.750
7   2018-10-15  112.135  112.236  111.625  112.264
8   2018-10-16  111.756  112.336  111.727  112.669
9   2018-10-17  112.241  112.676  112.014  112.181
10  2018-10-18  112.690  112.728  111.949  112.506
11  2018-10-19  112.176  112.647  112.143  112.795
12  2018-10-22  112.519  112.886  112.350  112.421
13  2018-10-23  112.785  112.840  111.953  112.222
14  2018-10-24  112.409  112.741  112.089  112.432
15  2018-10-25  112.161  112.674  111.818  111.881
16  2018-10-26  112.401  112.443  111.378  112.348
17  2018-10-29  111.874  112.563  111.775  113.021
18  2018-10-30  112.338  113.032  112.302  112.959
19  2018-10-31  113.114  113.384  112.801  112.691
20  2018-11-01  112.893  113.003  112.605  113.208
21  2018-11-02  112.650  113.323  112.557  113.191
22  2018-11-05  113.134  113.339  113.075  113.448
23  2018-11-06  113.179  113.505  113.100  113.570
24  2018-11-07  113.390  113.818  112.945  114.000
25  2018-11-08  113.491  114.084  113.466  113.788
26  2018-11-09  114.031  114.063  113.639  113.839
27  2018-11-12  113.806  114.211  113.660  113.812
28  2018-11-13  113.815  114.146  113.581  113.643
29  2018-11-14  113.788  114.007  113.299  113.616
..         ...      ...      ...      ...      ...
169 2019-05-30  109.530  109.927  109.474  108.346
170 2019-05-31  109.584  109.608  108.337  108.061
171 2019-06-03  108.290  108.446  107.882  108.135
172 2019-06-04  108.040  108.358  107.845  108.454
173 2019-06-05  108.111  108.485  107.812  108.389
174 2019-06-06  108.414  108.562  108.023  108.176
175 2019-06-07  108.336  108.616  107.880  108.457
176 2019-06-10  108.443  108.715  108.313  108.513
177 2019-06-11  108.414  108.800  108.349  108.506
178 2019-06-12  108.505  108.563  108.216  108.392
179 2019-06-13  108.450  108.537  108.163  108.544
180 2019-06-14  108.350  108.588  108.156  108.526
181 2019-06-17  108.479  108.723  108.479  108.425
182 2019-06-18  108.512  108.678  108.059  108.099
183 2019-06-19  108.417  108.616  107.901  107.314
184 2019-06-20  108.057  108.142  107.212  107.328
185 2019-06-21  107.264  107.736  107.049  107.296
186 2019-06-24  107.263  107.536  107.248  107.159
187 2019-06-25  107.253  107.409  106.777  107.782
188 2019-06-26  107.144  107.849  107.088  107.783
189 2019-06-27  107.749  108.163  107.650  107.858
190 2019-06-28  107.784  107.906  107.561  108.430
191 2019-07-01  108.196  108.533  108.102  107.909
192 2019-07-02  108.421  108.474  107.765  107.830
193 2019-07-03  107.875  107.910  107.534  107.791
194 2019-07-04  107.781  107.842  107.708  108.491
195 2019-07-05  107.783  108.636  107.767  108.729
196 2019-07-08  108.410  108.806  108.279  108.856
197 2019-07-09  108.683  108.963  108.660  108.466
198 2019-07-10  108.814  108.989  108.347  108.491

[199 rows x 5 columns]

In [31]:
del df２["日付"]

KeyError: '日付'

In [32]:
df2.reset_index(inplace = True)

In [33]:
del df2["日付"]

In [35]:
df2.head(100)

         始値       高値       安値       終値
0   114.441  114.549  113.632  113.671
1   113.893  114.100  113.558  113.221
2   113.729  113.943  112.821  112.950
3   113.183  113.392  112.870  112.304
4   112.950  113.286  112.292  112.123
5   112.198  112.534  111.832  112.179
6   112.143  112.495  111.880  111.750
7   112.135  112.236  111.625  112.264
8   111.756  112.336  111.727  112.669
9   112.241  112.676  112.014  112.181
10  112.690  112.728  111.949  112.506
11  112.176  112.647  112.143  112.795
12  112.519  112.886  112.350  112.421
13  112.785  112.840  111.953  112.222
14  112.409  112.741  112.089  112.432
15  112.161  112.674  111.818  111.881
16  112.401  112.443  111.378  112.348
17  111.874  112.563  111.775  113.021
18  112.338  113.032  112.302  112.959
19  113.114  113.384  112.801  112.691
20  112.893  113.003  112.605  113.208
21  112.650  113.323  112.557  113.191
22  113.134  113.339  113.075  113.448
23  113.179  113.505  113.100  113.570
24  113.390  113.818  112.945  114.000
25  113.491  114.084  113.466  113.788
26  114.031  114.063  113.639  113.839
27  113.806  114.211  113.660  113.812
28  113.815  114.146  113.581  113.643
29  113.788  114.007  113.299  113.616
..      ...      ...      ...      ...
70  108.400  108.597  108.145  108.171
71  108.522  108.545  107.986  108.691
72  108.134  108.764  108.102  109.096
73  108.673  109.195  108.371  109.237
74  109.039  109.402  108.686  109.746
75  109.210  109.889  109.058  109.671
76  109.689  109.759  109.475  109.341
77  109.636  109.702  109.146  109.593
78  109.334  109.999  109.313  109.607
79  109.560  109.801  109.421  109.491
80  109.600  109.949  109.450  109.328
81  109.520  109.569  109.161  109.353
82  109.311  109.541  109.130  109.024
83  109.338  109.743  108.810  108.871
84  108.984  109.072  108.497  109.497
85  108.811  109.579  108.725  109.896
86  109.492  110.162  109.433  109.959
87  109.845  110.040  109.776  109.977
88  109.906  110.052  109.557  109.814
89  109.959  110.086  109.606  109.724
90  109.774  109.897  109.648  110.367
91  109.756  110.468  109.745  110.473
92  110.320  110.651  110.317  111.001
93  110.438  111.049  110.416  110.521
94  110.965  111.128  110.460  110.423
95  110.427  110.646  110.254  110.605
96  110.434  110.653  110.424  110.568
97  110.569  110.824  110.452  110.865
98  110.528  110.949  110.523  110.684
99  110.801  110.854  110.566  110.639

[100 rows x 4 columns]

In [37]:
df2.shape[1]

4

In [38]:
df2.loc()

In [48]:
train_start = 0
train_end = int(np.floor(df2.shape[0]*0.8))

test_start = train_end + 1
test_end = int(df2.shape[0])